html {
   
	font-family: fantasy;
   background-image: url(../img/background.png);
	background-attachment: fixed;
  	font-size: 1cm;
   color: white;
    }

table, tr, td, th {
        /*border-width: 1px;*/
        border-style: solid;
        border-color: grey;
        margin: 0px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        color:black;
    }    




.tableau{
    
    padding-left: 100px;   
    display:inline-block;
    vertical-align:top;
    left: 400px;
}


#connexion {
    position: relative;
	float:left;
	text-align: end;
    
}

#barre_recherche{
    position:relative; 
    width:200px;
    height:50px; 
    float:top;
	font-size: 20px;
    
}




.acceuilhaut {
    /*width: 100%;
    margin: 0 auto;*/
	
    margin: auto;
    display: flex;
    justify-content:space-around; 
    align-content: flex-start;
	padding-bottom: 100px;
    
  }

#profil{
    justify-content: left;
    display: flex;
    align-items: flex-start;
	
}






.img_anime{
	z-index: 2;
	position: absolute;
	left: 5%;
	top: 20%;
}

.img_defaut{
	z-index: 1;
	position: absolute;
	left: 5%;
	top: 20%;
}

.titre_anime{
	position: absolute;
	left: 30%;
	top: 20%;
}

.titre_anime_anglais{
	position: absolute;
	left: 30%;
	top: 30%;
}

.type_anime{
	position: absolute;
	left: 75%;
	top: 20%;
}

.note_anime{
	color: black;
	position: absolute;
	left: 30%;
	top: 40%;
	background-image: url(../img/etoile.jpg);
	background-position: center;
	background-repeat: no-repeat;
}


.rang_anime{
	color: black;
	position: absolute;
	left: 65%;
	top: 40%;
	background-image: url(../img/podium.png);
	background-position: center;
	background-repeat: no-repeat;
}

.date_anime{
	position: absolute;
	left: 30%;
	top: 55%;
}

.genre_anime{
	position: absolute;
	left: 30%;
	top: 65%;
}


.nb_anime{
	position: absolute;
	left: 30%;
	top: 80%;
}

footer{

		
	position:absolute;
	bottom:0;
	width:100%;
	padding-top:50px;
	height:50px;
	
	}


.iconesize{
	float: left;
	color: black;

}

.homepage{
	float: left;
	color: black;
]	
	
	
