html {
   
	font-family: fantasy;
   background-image: url(../img/background.png);
	background-attachment: fixed;
  	font-size: 1cm;
   color: white;
    }

table, tr, td, th {
        /*border-width: 1px;*/
        border-style: solid;
        border-color: grey;
        margin: 0px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        color:black;
    }    


#imgprofile{
    width: 10%;
    height: 10%;
    
     


}

.tableau{
    
    padding-left: 100px;   
    display:inline-block;
    vertical-align:top;
    left: 400px;
}


#connexion {
    position: relative;
    
}

#barre_recherche{
    position:relative; 
    width:400px;
    height:200px; 
    float:top;
    
}

.formulaire               {display:inline-block;}
.formulaire .champ       {width:600px; height:35px;}


.acceuilhaut {
    /*width: 100%;
    margin: 0 auto;*/
    
    display: flex;
    justify-content:space-around; 
    align-content: flex-start;
    
  }

#profil{
    justify-content: left;
    display: flex;
    align-items: flex-start;
}






.img_anime{
	z-index: 2;
	position: absolute;
	left: 15%;
	top: 20%;
}

.img_defaut{
	z-index: 1;
	position: absolute;
	left: 15%;
	top: 20%;
}

.titre_anime{
	position: absolute;
	left: 35%;
	top: 20%;
}

.titre_anime_anglais{
	position: absolute;
	left: 35%;
	top: 30%;
}

.type_anime{
	position: absolute;
	left: 65%;
	top: 20%;
}

.note_anime{
	color: black;
	position: absolute;
	left: 40%;
	top: 40%;
	background-image: url(../img/etoile.jpg);
	background-position: center;
	background-repeat: no-repeat;
}


.rang_anime{
	color: black;
	position: absolute;
	left: 65%;
	top: 40%;
	background-image: url(../img/podium.png);
	background-position: center;
	background-repeat: no-repeat;
}

.date_anime{
	position: absolute;
	left: 35%;
	top: 50%;
}

.genre_anime{
	position: absolute;
	left: 35%;
	top: 60%;
}


.nb_anime{
	position: absolute;
	left: 35%;
	top: 70%;
}

  
