* {
border : 1px dotted red;
}
.inscription {
	
}

.conteneur_connexion{
   display: flex;
}
.inscription,.connexion{
   flex-grow: 1;
   margin-right: :300px;
	margin-top:200px;
	margin-bottom: auto;
}

#fondecran {
		/* Fixe l'image en haut à gauche de la page */
		position: fixed; 
		z-index: -4;
		top: 0; 
		left: 0; 
		/* Préserve le ratio de l'image */
		min-width: 100%;
		min-height: 100%;
	   }